.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  color: green
}

.container{
  margin: 20px auto;
  width: 600px;
}

.table{
  margin-top: 20px;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

}

.table thead{
  font-weight: bold;
  color: blue;
}

.table tbody{
  font-weight: bold;
  color: gray;
}

.table td{
  border: 1px solid black;
  padding: 8px;
  width: auto;
  height: auto;
}
